![BTS](img/Logo-BTS.jpg)

# Session 1: Pandas and Common data formats

### Victor F. Pajuelo Madrigal <victor.pajuelo@bts.tech> - Data Science Foundations (2019-10-01)

Open this notebook in Google Colaboratory: [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vfp1/bts-mbds-data-science-foundations-2019/blob/master/sessions/01-Pandas-Introduction-Common-Data-Formats.ipynb)

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way toward this goal.

pandas is well suited for many different kinds of data:

Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
Ordered and unordered (not necessarily fixed-frequency) time series data.
Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure
The two primary data structures of pandas, Series (1-dimensional) and DataFrame (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. For R users, DataFrame provides everything that R’s data.frame provides and much more. pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

## Important! Mutability and copying of data
All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame. However, the vast majority of methods produce new objects and leave the input data untouched. In general we like to favor immutability where sensible.

[Source](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html)

# Pandas functionality introduction: a 101, step by step guide

As you already know, we start by importing the necessary libraries. In this case will be Numpy and Pandas.

In [0]:
import numpy as np
import pandas as pd

# Within IPython notebook, add multiple print capabilities
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Series and DataFrames

Pandas has two main types of Data Structures, i.e. Series and DataFrames, which are one and two dimensional arrays respectively. The best way to think about the pandas data structures is as flexible containers for lower dimensional data. For example, DataFrame is a container for Series, and Series is a container for scalars. We would like to be able to insert and remove objects from these containers in a dictionary-like fashion.

[Source](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html)

For a complete introduction to Pandas Objects by Jake VanderPlas (slightly modified by Victor Pajuelo Madrigal), go to this notebook: [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vfp1/bts-mbds-data-science-foundations-2019/blob/master/sessions/01-External-Introducing_Pandas_Objects.ipynb)

### Series

Series are 1-D arrays. In the following cell we create some dummy data, containing NaN values and different digit values. Then we invoke the variable to see the results. In a nutshell, series are **containers for scalars**

In [0]:
 s = pd.Series([0, 1, 5, np.nan, 6, 81])

As we can see printed below by invoking variable **"s"**, series have only one Data Type, while DataFrames can have many.

In [4]:
s

0     0.0
1     1.0
2     5.0
3     NaN
4     6.0
5    81.0
dtype: float64

### DataFrames

DataFrames, and actually pandas as a whole, is the pythonic reaction to the R language. DataFrames replicates the functionalities of R *data.frames* tables. Pandas DataFrames are 2D tabular structures.

Here we will use Pandas *date_range* method to populate our first DataFrame. The *date_range* method will provide us with some timestamps that will be our **indexes** or *rows*. We will create 6 of them.

In [5]:
dates = pd.date_range('20191208', periods=6)
dates

DatetimeIndex(['2019-12-08', '2019-12-09', '2019-12-10', '2019-12-11',
               '2019-12-12', '2019-12-13'],
              dtype='datetime64[ns]', freq='D')

Then we create fake data using **numpy** *random.randn* method, providing an array equal to the number of indexes/rows (in this case 6) and the number of columns, which we will keep at 5 characters from *A* to *E*.

Then we pass the fake data to the pandas DataFrame, together with the indexes and columns. And then we have our first pandas DataFrame!!

In [6]:
df = pd.DataFrame(np.random.randn(6, 5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2019-12-08  1.381843 -1.960732 -1.079255  0.242728  0.571902
2019-12-09 -1.981175 -0.876572  1.399260 -0.264012  0.523527
2019-12-10 -0.153945  0.378060  1.711884 -1.105884  0.162734
2019-12-11 -1.886251 -0.526569  0.501413 -0.875845  1.739303
2019-12-12 -0.543642  1.273038  0.712607 -0.020632  0.030064
2019-12-13 -0.513712  0.715614  0.663741  0.232887  1.520726

## Viewing, quick summaries and transformations of the data frame

### Viewing the components of a DataFrame 
To quickly view the top rows of our dataset, we can use the **head()** method, which will display few lines at the top of our DataFrame. We can select the number of rows to be printed, within the method **head(n)**

In [9]:
df.head()

                   A         B         C         D         E
2019-12-08  1.381843 -1.960732 -1.079255  0.242728  0.571902
2019-12-09 -1.981175 -0.876572  1.399260 -0.264012  0.523527
2019-12-10 -0.153945  0.378060  1.711884 -1.105884  0.162734
2019-12-11 -1.886251 -0.526569  0.501413 -0.875845  1.739303
2019-12-12 -0.543642  1.273038  0.712607 -0.020632  0.030064

To display the last rows of the DataFrame, use the method **tail()**. We can as well specify the number of rows to be printed:

In [0]:
df.tail(2)

                   A         B         C         D         E
2019-12-12  0.051021  0.950206  0.356051 -1.155407 -0.550417
2019-12-13  0.851986 -0.509780 -0.811292  1.763604 -0.026557

To print the index/rows simply do the following:

In [15]:
df.index

DatetimeIndex(['2019-12-08', '2019-12-09', '2019-12-10', '2019-12-11',
               '2019-12-12', '2019-12-13'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

### Quick summaries and transformations of the DataFrame

Python Pandas allows for very quick DataFrame summaries and transformations to aid in ETL (Extract Transform Load) and exploratory tasks.

For instance, if we want to transpose the DataFrame (changing the rows by the columns), we can use the following method:

In [16]:
df.T

   2019-12-08  2019-12-09  2019-12-10  2019-12-11  2019-12-12  2019-12-13
A    1.381843   -1.981175   -0.153945   -1.886251   -0.543642   -0.513712
B   -1.960732   -0.876572    0.378060   -0.526569    1.273038    0.715614
C   -1.079255    1.399260    1.711884    0.501413    0.712607    0.663741
D    0.242728   -0.264012   -1.105884   -0.875845   -0.020632    0.232887
E    0.571902    0.523527    0.162734    1.739303    0.030064    1.520726

We can as well pass our DataFrame as a [NumPy](https://numpy.org/) array.

In [0]:
df.to_numpy()

array([[ 0.47551948, -1.09069474,  0.26572951, -0.76045147,  0.87233216],
       [-1.12311682, -0.55378582,  0.87195299, -0.14027247,  2.59050097],
       [ 0.12534816, -0.28825733,  1.10561535,  0.32717054,  0.99001645],
       [-0.20980696,  0.99384602,  2.47480337, -0.08265069,  1.02785119],
       [ 0.05102118,  0.95020597,  0.35605069, -1.15540703, -0.55041661],
       [ 0.85198643, -0.50978048, -0.81129171,  1.76360391, -0.02655716]])

#### Quick descriptive statistics

One of the most powerful methods for data analytics prototyping is the pandas **describe()** method. This method generates descriptive statistics that summarizes the central tendency, dispersion and shape of a dataset distribution, excluding *NaN* values.

The describe method returns a series of descriptive statistics for the Series or DataFrame. And as well the percentiles. By default, the lower is set to 25%, the upper to 75%, being the 50% percentile the same as the median.

In [21]:
df.describe()

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean  -0.616147 -0.166193  0.651608 -0.298460  0.758043
std    1.240791  1.183221  0.970101  0.572520  0.709725
min   -1.981175 -1.960732 -1.079255 -1.105884  0.030064
25%   -1.550599 -0.789071  0.541995 -0.722887  0.252932
50%   -0.528677 -0.074255  0.688174 -0.142322  0.547714
75%   -0.243887  0.631226  1.227597  0.169507  1.283520
max    1.381843  1.273038  1.711884  0.242728  1.739303

The default percentiles are the following: `[.25, .5, .75]`. We can modify the percentiles if we see fit by passing a list of the percentiles that we want to have, it always needs to be between 0 and 1:

In [28]:
df.describe(percentiles=[.10, .5, .90])

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean  -0.616147 -0.166193  0.651608 -0.298460  0.758043
std    1.240791  1.183221  0.970101  0.572520  0.709725
min   -1.981175 -1.960732 -1.079255 -1.105884  0.030064
10%   -1.933713 -1.418652 -0.288921 -0.990865  0.096399
50%   -0.528677 -0.074255  0.688174 -0.142322  0.547714
90%    0.613949  0.994326  1.555572  0.237807  1.630015
max    1.381843  1.273038  1.711884  0.242728  1.739303

But how would **describe** method work if we have **more than one dtype** in a DataFrame? We will create another DataFrame with mock data containing **categorical, numerical, object** and **timestamp** variables.

In [36]:
df2 = pd.DataFrame({'categorical': pd.Categorical(['B','T','S']), 
                    'numeric': [1, 2, 3], 
                    'object': ['a', 'b', 'c'],
                    'timestamp': pd.Series([np.datetime64("2019-12-08"), 
                                            np.datetime64("2019-12-10"),
                                            np.datetime64("2019-12-12")
                                            ])
                    })
df2

  categorical  numeric object  timestamp
0           B        1      a 2019-12-08
1           T        2      b 2019-12-10
2           S        3      c 2019-12-12

If we now try to use descriptive statistics, Pandas will only run the statistics over the *numeric* field:

In [34]:
df2.describe()

       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

In order to control the usage of descriptive statistics over a DataFrame, we can use the *include* and *exclude* parameters, which limit which colums in a DataFrame are analyzed in the describe methods. Obviously, those parameters are ignored when analyzing a Series. We will include *all* the columns regardless of data type:

In [35]:
df2.describe(include='all')

       categorical  numeric object            timestamp
count            3      3.0      3                    3
unique           3      NaN      3                    3
top              T      NaN      b  2019-12-10 00:00:00
freq             1      NaN      1                    1
first          NaN      NaN    NaN  2019-12-08 00:00:00
last           NaN      NaN    NaN  2019-12-12 00:00:00
mean           NaN      2.0    NaN                  NaN
std            NaN      1.0    NaN                  NaN
min            NaN      1.0    NaN                  NaN
25%            NaN      1.5    NaN                  NaN
50%            NaN      2.0    NaN                  NaN
75%            NaN      2.5    NaN                  NaN
max            NaN      3.0    NaN                  NaN

A series of three more statistics appear for object data (strings, timestamps, etc.), i.e. *unique*, *top* and *freq*. The **unique** describres the count of unique values, the **top** describes the most common value and the **freq** the most common value's frequency. For timestamps, also **first** and **last** items are included in the description.

We can also access columns as attributes of the DataFrame and describe them:

In [0]:
print("Accessing column 'timestamp' as attribute")
df2.timestamp.describe()

print("\n\nAccessing column 'numeric' as attribute")
df2.numeric.describe()

We can further play with the *include* parameter, by invoking the data type, either through NumPy *np.number* which is an abstract base class for all the numeric data types; or *np.object* which is a NumPy base type for objects like strings or lists.

Furthermore, we can write the string data type in order to access different columns, including *number*, *category* and *object*:

In [0]:
print("Accessing all the numeric columns with np")
df2.describe(include=[np.number])

print("\n\nAccessing all the categorical columns with np")
df2.describe(include=[np.object])

print("\n\nAccessing all the object columns with string calls")
df2.describe(include=['object'])

print("\n\nAccessing all the category columns with string calls")
df2.describe(include=['category'])

print("\n\nAccessing all the number columns with string calls")
df2.describe(include=['number'])

And what happens if we want to exclude columns? We just need to use the exclude parameters:

In [63]:
print("Accessing all the columns but excluding numbers")
df2.describe(exclude=[np.number])

print("\n\nAccessing all the columns but excluding objects")
df2.describe(exclude=[np.object])

Accessing all the columns but excluding numbers

       categorical object            timestamp
count            3      3                    3
unique           3      3                    3
top              T      b  2019-12-10 00:00:00
freq             1      1                    1
first          NaN    NaN  2019-12-08 00:00:00
last           NaN    NaN  2019-12-12 00:00:00

Accessing all the columns but excluding objects

       categorical  numeric            timestamp
count            3      3.0                    3
unique           3      NaN                    3
top              T      NaN  2019-12-10 00:00:00
freq             1      NaN                    1
first          NaN      NaN  2019-12-08 00:00:00
last           NaN      NaN  2019-12-12 00:00:00
mean           NaN      2.0                  NaN
std            NaN      1.0                  NaN
min            NaN      1.0                  NaN
25%            NaN      1.5                  NaN
50%            NaN      2.0                  NaN
75%            NaN      2.5                  NaN
max            NaN      3.0                  NaN

#### Quick sorting techniques
We can sort DataFrames along certain axis using the *sort_index* method. The **axis=0** corresponds to row sorting, and the **axis=1** corresponds to columns sorting.

In [66]:
print("Sorting by rows")
df.sort_index(axis=0, ascending=False)

print("\n\nSorting by columns")
df.sort_index(axis=1, ascending=False)

Sorting by rows

                   A         B         C         D         E
2019-12-13 -0.513712  0.715614  0.663741  0.232887  1.520726
2019-12-12 -0.543642  1.273038  0.712607 -0.020632  0.030064
2019-12-11 -1.886251 -0.526569  0.501413 -0.875845  1.739303
2019-12-10 -0.153945  0.378060  1.711884 -1.105884  0.162734
2019-12-09 -1.981175 -0.876572  1.399260 -0.264012  0.523527
2019-12-08  1.381843 -1.960732 -1.079255  0.242728  0.571902

Sorting by columns

                   E         D         C         B         A
2019-12-08  0.571902  0.242728 -1.079255 -1.960732  1.381843
2019-12-09  0.523527 -0.264012  1.399260 -0.876572 -1.981175
2019-12-10  0.162734 -1.105884  1.711884  0.378060 -0.153945
2019-12-11  1.739303 -0.875845  0.501413 -0.526569 -1.886251
2019-12-12  0.030064 -0.020632  0.712607  1.273038 -0.543642
2019-12-13  1.520726  0.232887  0.663741  0.715614 -0.513712

We can as well sort by values along either axis using the *sort_values* method. The **by** parameter can be the name or list of names to sort by, the **axis** can be either the *index* or the *columns* and the ascending controls the type of sorting.

In [74]:
print("Sorting indexes over column A")
df.sort_values(by='A', axis='index', ascending=False)

print("\n\nSorting indexes over column B and C")
df.sort_values(by=['B', 'C'], axis='index', ascending=False)

print("\n\nSorting columns over date 2019-12-08")
df.sort_values(by='2019-12-08', axis='columns', ascending=False)

Sorting indexes over column A

                   A         B         C         D         E
2019-12-08  1.381843 -1.960732 -1.079255  0.242728  0.571902
2019-12-10 -0.153945  0.378060  1.711884 -1.105884  0.162734
2019-12-13 -0.513712  0.715614  0.663741  0.232887  1.520726
2019-12-12 -0.543642  1.273038  0.712607 -0.020632  0.030064
2019-12-11 -1.886251 -0.526569  0.501413 -0.875845  1.739303
2019-12-09 -1.981175 -0.876572  1.399260 -0.264012  0.523527

Sorting indexes over column B and C

                   A         B         C         D         E
2019-12-12 -0.543642  1.273038  0.712607 -0.020632  0.030064
2019-12-13 -0.513712  0.715614  0.663741  0.232887  1.520726
2019-12-10 -0.153945  0.378060  1.711884 -1.105884  0.162734
2019-12-11 -1.886251 -0.526569  0.501413 -0.875845  1.739303
2019-12-09 -1.981175 -0.876572  1.399260 -0.264012  0.523527
2019-12-08  1.381843 -1.960732 -1.079255  0.242728  0.571902

Sorting columns over date 2019-12-08

                   A         E         D         C         B
2019-12-08  1.381843  0.571902  0.242728 -1.079255 -1.960732
2019-12-09 -1.981175  0.523527 -0.264012  1.399260 -0.876572
2019-12-10 -0.153945  0.162734 -1.105884  1.711884  0.378060
2019-12-11 -1.886251  1.739303 -0.875845  0.501413 -0.526569
2019-12-12 -0.543642  0.030064 -0.020632  0.712607  1.273038
2019-12-13 -0.513712  1.520726  0.232887  0.663741  0.715614

### In class EXERCISE: descriptive statistics of mixed DataFrames

## Selection

## Dealing with missing data

## Basic operations

## Merging and grouping

## Reshaping DataFrames

## Time series

## Categoricals

## Plotting

## Getting data in/out

# Experimenting with real data